#app .p0 {
  padding:0;
}

#app .no-scroll .v-navigation-drawer__content {
  overflow-y: hidden !important;
}

#mainTypes {
  .active {
    &:before {
     opacity: 0.08;
    }
  }

  .v-list-item {
    padding-left: 0;
    padding-right: 0;

    .v-list-item__icon {
      width:50px;
      .icon {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.mainTypeRunning {
    padding:3px;
    border-radius: 10%;
    background-color: forestgreen;
    color:#fff;
}

.mainTypeCycling {
  padding:3px;
  border-radius: 10%;
  background-color:orange;
  color:#000;
}

.mainTypeSwimming {
  padding:3px;
  border-radius: 10%;
  background-color:deepskyblue;
  color:#000;
}

.mainTypeOther {
  padding:3px;
  border-radius: 10%;
  background-color:#ccc;
  color:darkred;
}

.mainTypeWeightTraining {
  padding:3px;
  border-radius: 10%;
  background-color:#333;
  color:#fff;
}

div.is-divider {
    background-color: grey;
    /* border-top: 1px gray solid;
    border-radius: 0 !important; */
    padding: 0 !important;
    /* margin: 2px 10px -8px 10px !important; */
    margin: 10px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    height: 1px !important;
    min-height: 1px !important;
  }

.textarea-border textarea {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.fullscreen-container {
  max-width: 1000px !important;
}

.row-cursor-pointer tr {
  cursor: pointer;
}

.copy-text-icon {
  pointer-events: auto;
}